{% extends 'blog/base.html' %}

{% block content %}
	<div class="post">
		<h1>Published Posts</h1>
		{% if post.published_date %}
				<div class="date">{{ post.published_date }}</div>
				<h1>{{ post.title }}</h1>
				<p>{{ post.text|linebreaksbr }}</p>
				{% if user.is_authenticated %}
					<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}" title="Edit Post"><span class="glyphicon glyphicon-pencil"></span></a>
					<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}" title="Remove Post"><span class="glyphicon glyphicon-remove"></span></a>
				{% endif %}
		{% else %}
			 <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
		{% endif %}
	</div>

{% endblock %}
